[Unit]
Description=Abstrac ffmpeg Streaming
PartOf=abstrac-engine.service

[Service]
EnvironmentFile=/home/a/.priv/twtch.conf
User=a
Group=a
ExecStart=ffmpeg -loglevel info -loop 1 -f image2 -re -framerate 25  -pattern_type glob -pix_fmt rgb32 -s 800x450 -i '/ramdisk/*.raw'  -preset ultrafast   -c:v libx264 -pix_fmt yuv420p -s 800x450 -f flv -force_key_frames 2 -b:v 400k -minrate 200k -maxrate 800k -bufsize 2m rtmp://arn04.contribute.live-video.net/app/${twtch}

[Install]
WantedBy=default.target
