[Unit]
Description=Abstrac Rendering Engine

[Service]
Type=forking
User=a
Group=a
EnvironmentFile=/home/a/.priv/twtch.conf
ExecStart=/usr/bin/abstrac-engine-starter

[Install]
WantedBy=default.target
